body {
  background-color: #0c0f0a;
}

.custom-container {
  width: 80%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px white;
  padding: 5px;
}

.box {
  width: calc((100% / 7) - 10px);
  aspect-ratio: 1/1;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #0c0f0a;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.lightblue {
  background-color: #41ead4;
}

.yellow {
  background-color: #fbff12;
}

.magenta {
  background-color: #ff206e;
}